.altezza{
  height: 50px;
}

main{
  height: calc(100vh - 100px);
  background-color: rgb(0, 33, 89);
}

.tabella{
  height: 500px;
  width: 500px;
  border: 1px solid white;
}

.casella{
  border: 1px solid white;
  display: none;
  justify-content: center;
  align-content: center;
  color: white;
}

.c-49{
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.c-81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.c-100{
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.verde{
  background-color: green;
  display: flex;
}

.rosso{
  background-color: red;
  display: flex;
}